{% extends 'layout/master.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card shadow" >
    <div class="card-header text-center text-dark alert alert-info">
        <h3>ပြစ်မှု မှတ်တမ်း ကိုပြုပြင်ရန်</h3>
    </div>
    <div class="card-body">
        <form action="" method="POST">
    
            {% csrf_token %}
            <div class="row">
               
                <div class="col col-md-4">
                    {{form.name|as_crispy_field}}
                </div>
                
                <div class="col col-md-4">
                    {{form.crime_type|as_crispy_field}}
                </div>
        
                <div class="col col-md-4">
                    {{form.punished|as_crispy_field}}
                </div>
        
                <div class="col col-md-4">
                    {{form.start|as_crispy_field}}
                </div>
        
                <div class="col col-md-4">
                    {{form.end|as_crispy_field}}
                </div>
        
                <div class="col col-md-4">
                    {{form.commander|as_crispy_field}}
                </div>
        
            </div>
            <button type="submit" class="btn btn-sm text-white" style="background-color: #014be1;">သိမ်းဆည်းရန်</button>
            <button type="reset" class="btn btn-sm text-white" style="background-color: #e10019;"
                onclick="history.back()">မသိမ်းပါ</button>
        </form>
    </div>
</div>
    
{% endblock %}